html,
body {
  font-family: 'Lato';
  font-size: 16px;
  margin: 0;
  position: relative;
  height: 99vh; }

.heading--primary {
  font-size: 6rem;
  font-weight: 900;
  margin: 0;
  text-transform: capitalize;
  letter-spacing: .5rem; }

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; }

.u-center-text {
  text-align: center; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .2;
  z-index: 1; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.list-group {
  list-style: none;
  color: #eece1a; }
  .list-group-item {
    display: inline;
    letter-spacing: 2px;
    padding: .5rem; }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: .9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu--branding, .menu--nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu--btn {
    position: absolute;
    z-index: 3;
    top: 3.5rem;
    right: 3.5rem;
    cursor: pointer;
    transition: all .3s; }
    .menu--btn__line {
      width: 2.8rem;
      height: 3px;
      margin: 0 0 .5rem 0;
      background-color: #fff;
      transition: all .3s; }
    .menu--btn.close {
      transform: rotate(180deg); }
      .menu--btn.close .menu--btn__line:nth-child(1) {
        transform: rotate(45deg) translate(0.5rem, 0.5rem); }
      .menu--btn.close .menu--btn__line:nth-child(2) {
        opacity: 0; }
      .menu--btn.close .menu--btn__line:nth-child(3) {
        transform: rotate(-45deg) translate(0.5rem, -0.4rem); }
  .menu--nav {
    margin: 0;
    padding: 0;
    background-color: black; }

.home {
  background-color: rgba(0, 0, 0, 0.98);
  height: 100%; }
