<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="./Lato/latofonts.css"> -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    <main class="bg">
        <div class="menu--btn">
            <div class="menu--btn__line"></div>
            <div class="menu--btn__line"></div>
            <div class="menu--btn__line"></div>
        </div>
        <nav class="menu transparent">
            <div class="menu--branding">
                <div class="portrait"></div>
            </div>
            <ul class="menu--nav">
                <li class="menu--nav__item"><a href="/" class="menu--nav__link">Home</a></li>
                <li class="menu--nav__item"><a href="/portfolio/project" class="menu--nav__link">Project</a></li>
                <li class="menu--nav__item current"><a href="/portfolio/about" class="menu--nav__link">About</a></li>
                <li class="menu--nav__item"><a href="/portfolio/contact" class="menu--nav__link">Contact</a></li>
                <!-- <li class="menu--nav__item"><a href="#" class="menu--nav__link">Location</a></li> -->
            </ul>
        </nav>
        <div class="aboutPage">
            <div class="about--heading">
                <h2 class="heading--secondary about--heading__secondary"><span class="primary-color">Edit</span> Profile</h2>
            </div>
            <div class="sections">
                <form action="/portfolio/editAboutPage" method="post" class="form">
                    
                    <div class="row">
                        <div class="file-field input-field col s12 m6">
                            <div class="btn yellow darken-2">
                                <span>File</span>
                                <input type="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate white-text" type="text" placeholder="Upload your Profile Picture">
                            </div>
                        </div>
                    </div>
                    
                        <div class="bio1">
                            <h4 class="heading bg-primary block u-margin-bottom">Bio</h4>
                                    <div class="input-field">
                                        <textarea id="textarea1" class="materialize-textarea white-text" name="bio"></textarea>
                                        <label for="textarea1">Bio</label>
                                    </div>
                        </div>
                        <div class="row">
                            <div class=" job1 col s4">
                                <h4 class="heading bg-primary block u-margin-bottom">
                                    Add Programming Experience
                                </h4>
                                <div class="input-field u-margin-bottom">
                                    <input id="title" type="text" class="validate white-text" name="title1">
                                    <label for="title white-text">Job Title</label>
                                </div>
                                <div class="input-field u-margin-bottom">
                                    <input id="jd" type="text" class="validate white-text" name="desc1">
                                    <label for="jd">Job Description</label>
                                </div>
                                    <div class="input-field u-margin-bottom">
                                        <textarea id="textarea" class="materialize-textarea white-text" data-lenght="220" name="prog1"></textarea>
                                        <label for="textarea">About Experience</label>
                                    </div>
                            </div>
                            <div class=" job2 col s4">
                                <h4 class="heading bg-primary block u-margin-bottom">
                                    Add Programming Experience
                                </h4>
                                <div class="input-field u-margin-bottom">
                                    <input id="title" type="text" class="validate white-text" name="title2">
                                    <label for="title white-text">Job Title</label>
                                </div>
                                <div class="input-field u-margin-bottom">
                                    <input id="jd" type="text" class="validate white-text" name="desc2">
                                    <label for="jd">Job Description</label>
                                </div>
                                    <div class="input-field u-margin-bottom">
                                        <textarea id="textarea" class="materialize-textarea white-text" data-lenght="220" name="prog2"></textarea>
                                        <label for="textarea">About Experience</label>
                                    </div>
                            </div>
                            <div class="job3 col s4">
                                <h4 class="heading bg-primary block u-margin-bottom">
                                    Add Programming Experience
                                </h4>
                                <div class="input-field u-margin-bottom">
                                    <input id="title" type="text" class="validate white-text" name="title3">
                                    <label for="title white-text">Job Title</label>
                                </div>
                                <div class="input-field u-margin-bottom">
                                    <input id="jd" type="text" class="validate white-text" name="desc3">
                                    <label for="jd">Job Description</label>
                                </div>
                                    <div class="input-field u-margin-bottom">
                                        <textarea id="textarea" class="materialize-textarea white-text" data-lenght="220" name="prog3"></textarea>
                                        <label for="textarea">About Experience</label>
                                    </div>
                            </div>
                        </div>
                        
                        <button class="btn waves-effect waves-light yellow darken-2" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                </form>
            </div>
        </div>
    </main>
    <footer class="page-footer grey darken-4">
        <div class="footer-copyright">
            <div class="container">
            &copy; 2019 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
    <script src="../js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>

