a {
  text-decoration: none;
  color: #fff; }

html,
body {
  font-family: 'Lato';
  font-size: 16px;
  margin: 0;
  position: relative;
  height: 100vh;
  background-color: none; }

.heading {
  text-align: center; }

main {
  min-height: calc(100vh -1.5rem); }

.footer--container {
  text-align: center;
  height: 1.5rem;
  background-color: #1a1a1a;
  padding: 1rem;
  color: #fff; }

.heading--primary {
  font-size: 9rem;
  font-weight: 900;
  margin: 0;
  text-transform: capitalize;
  letter-spacing: .5rem;
  color: #fff; }

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; }

.primary-color {
  color: #eece1a; }

.heading--secondary {
  font-size: 4rem;
  font-weight: 300;
  color: #fff; }

ul,
li {
  text-decoration: none;
  display: inline; }

.form {
  margin: 2rem 13rem; }

nav {
  background-color: none;
  color: none; }

.u-center-text {
  text-align: center; }

.right-float {
  align-items: flex-end;
  justify-items: end; }

.block {
  display: inline-block; }

.u-margin-bottom {
  margin-bottom: 3rem; }

.about {
  margin: 3rem 1rem;
  height: 100vh; }
  .about--heading {
    text-align: center;
    font-weight: 500; }
    .about--heading__secondary {
      font-size: 4rem;
      font-weight: 600; }
  .about--section {
    margin: 1rem auto;
    background-color: rgba(255, 255, 255, 0.7);
    width: 75%;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 2rem;
    transform: skewX(-12deg);
    clear: both; }
    .about--section__shape {
      border-radius: 50%;
      width: 12rem;
      height: 12rem;
      float: left;
      border: 3px solid #eece1a;
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      transform: skewX(12deg); }
    .about--section__content {
      transform: skewX(12deg); }
    .about--section__img {
      height: 100%;
      width: 100%;
      border-radius: 50%; }

.bg-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/net-2.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0; }

.section {
  padding: 2rem;
  display: grid;
  grid-gap: 3rem;
  grid-template-areas: 'img bio bio' 'job-1 job-2 job-3';
  grid-template-columns: 1fr; }

.bio {
  grid-area: bio; }

.job {
  margin: 0 auto;
  background-color: #1a1a1a;
  padding: 0 .5rem;
  border-bottom: #eece1a 3px solid; }
  .job-h3 {
    text-transform: uppercase;
    text-align: center; }
  .job-h6 {
    font-size: 1rem;
    margin: 0 auto;
    text-align: right;
    padding-bottom: 2rem; }
  .job-1 {
    grid-area: job-1; }
  .job-2 {
    grid-area: job-2; }
  .job-3 {
    grid-area: job-3; }

.img {
  grid: img; }

.image {
  margin: 0 5rem;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  border: 0.5rem solid #eece1a; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .2;
  z-index: 1; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.bg {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/net-4.jpg);
  padding: 1rem;
  color: #fff; }
  .bg-primary {
    border-bottom: 2px solid #eece1a;
    padding: .5rem; }

.btn {
  padding: .5rem;
  text-decoration: none;
  border-radius: 3px; }
  .btn-blue {
    margin: 5rem;
    background-color: dodgerblue; }

.contact--item {
  grid-gap: 1rem;
  display: grid;
  grid-template-areas: 'email contact address';
  grid-template-columns: 1fr; }
  .contact--item .email {
    grid-area: email; }
  .contact--item .contact {
    grid-area: contact; }
  .contact--item .address {
    grid-area: address; }

.email,
.contact,
.address {
  width: 25rem; }
  .email-h6,
  .contact-h6,
  .address-h6 {
    border-bottom: 1px solid #eece1a;
    padding: .5rem;
    display: inline-block; }

iframe {
  margin: 3rem 25rem;
  width: 100%; }

.list-group {
  list-style: none;
  color: #eece1a; }
  .list-group-item {
    display: inline;
    letter-spacing: 2px;
    padding: .5rem; }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: .9;
  z-index: 2;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu--branding, .menu--nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu--btn {
    position: fixed;
    z-index: 3;
    top: 3.5rem;
    right: 3.5rem;
    cursor: pointer;
    transition: all .3s; }
    .menu--btn__line {
      width: 2.3rem;
      height: 3px;
      margin: 0 0 .5rem 0;
      background-color: #fff;
      transition: all .3s; }
    .menu--btn.close {
      transform: rotate(180deg); }
      .menu--btn.close .menu--btn__line:nth-child(1) {
        transform: rotate(45deg) translate(0.5rem, 0.5rem); }
      .menu--btn.close .menu--btn__line:nth-child(2) {
        opacity: 0; }
      .menu--btn.close .menu--btn__line:nth-child(3) {
        transform: rotate(-45deg) translate(0.5rem, -0.4rem); }
  .menu--nav {
    z-index: 4;
    margin: 0;
    padding: 0;
    background-color: black;
    transform: translate3d(100%, 0, 0);
    transition: all .3s; }
    .menu--nav.show {
      transform: translate3d(0, 0, 0); }
    .menu--nav__item {
      transform: translate3d(0, -100rem, 0);
      transition: all .5s; }
      .menu--nav__item.show {
        transform: translate3d(0, 0, 0); }
      .menu--nav__item.current > a {
        color: #fff; }
    .menu--nav__link {
      display: inline-block;
      position: relative;
      font-size: 1.6rem;
      text-transform: uppercase;
      padding: 2rem 0;
      font-weight: 400;
      color: #eece1a;
      text-decoration: none; }

.menu--nav__item:nth-child(1) {
  transition-delay: 0.3s; }

.menu--nav__item:nth-child(2) {
  transition-delay: 0.6s; }

.menu--nav__item:nth-child(3) {
  transition-delay: 0.9s; }

.menu--nav__item:nth-child(4) {
  transition-delay: 1.2s; }

.menu--nav__item:nth-child(5) {
  transition-delay: 1.5s; }

.project {
  background-color: #000;
  margin: -19px 0;
  padding: 2rem; }
  .project--item {
    width: 23%;
    float: left;
    margin: .3rem;
    border-radius: 3px;
    border: 3px solid #eece1a;
    padding: .3rem; }
    .project--item__img {
      height: 100%;
      width: 100%; }
    .project--item__btn {
      width: 100%;
      text-align: center; }
      .project--item__btn-1 {
        display: block;
        background-color: dodgerblue;
        width: 80%;
        padding: .5rem;
        margin: 1.2rem; }
      .project--item__btn-2 {
        display: block;
        background-color: #000;
        width: 80%;
        padding: .5rem;
        margin: 1.2rem; }

.home {
  background-color: rgba(0, 0, 0, 0.98);
  height: 100%; }

@media screen and (min-width: 1171px) {
  .project--item {
    float: left;
    width: 22.7%; } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .project--item {
    float: left;
    width: 28.9%; } }

@media screen and (max-width: 768px) {
  main {
    text-align: center;
    align-items: center; }
  .menu--branding, .menu--nav {
    float: none;
    width: 100%;
    min-height: 0; }
  .menu--branding {
    height: 0; }
  .about--section__shape {
    align-content: center;
    float: none;
    width: 12rem;
    height: 12rem; }
  .about--section__img {
    height: 100%;
    width: 100%; }
  .project--item {
    float: left;
    width: 44%; } }

@media screen and (max-width: 500px) {
  .project--item {
    float: none;
    width: 100%; } }
