a{
    text-decoration: none;
    color: $color-white;
    
}

html,
body{
    font-family: 'Lato';
    font-size: 16px;
    margin: 0;
    position: relative;
    height: 100vh;
    background-color: none;
}

.heading{
    text-align: center;
}

main{
    min-height: calc(100vh -1.5rem);
}

.footer{
    &--container{
        text-align: center;
        height: 1.5rem;
        background-color: lighten($color-black, 10);
        padding: 1rem;
        color: $color-white;
    }
}
