.heading--primary{
    font-size: 9rem;
    font-weight: 900;
    margin: 0;
    text-transform: capitalize;
    letter-spacing: .5rem;
    color: $color-white;
}

.content{
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.primary-color{
    color: $color-primary;
}

.heading--secondary{
    font-size: 4rem;
    font-weight: 300;
    color: $color-white;
}

ul, 
li{
    text-decoration: none;
    display: inline;
}


.form{
    margin: 2rem 13rem;
}

nav{
    background-color: none;
    color: none;
}


